.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #efefef;

}

.header-home {
    padding: 0 20px;
    align-items: center;
}

.img-pokedex-logo {
    width: min(100%,450px);
    display: block;
    margin: 0 auto;
    position: relative;
    top: -40px;
}

.title-home {
    text-align: center;
    margin-bottom: 11px;
    color: #fe1936;
    font-size: 2.5em;
}

.text-home {
    text-align: center;
    margin-bottom: 35px;
    line-height: 1.5;
}

.form-home {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
}

.input-home {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    box-shadow: -2px 2px 6px #0002;
}

.btn-home {
    font-size: 14px;
    font-weight: 100;
    border: none;
    color: #fff;
    padding: 10px 20px;
    background-color: #d93f3f;
    box-shadow: -2px 2px 6px #0002;
    cursor: pointer;
}

.red-rectangle {
    width: 100%;
    height: 70px;
    background-color: #dd1a1a;
    position: absolute;
    bottom: 0;
}

.black-rectangle {
    width: 100%;
    height: 30px;
    background-color: #0c0c0c;
    position: absolute;
    bottom: 0;  
}

.circle {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #000;
    border: 10px solid white;
    outline: 5px solid black;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
}



@media (max-width: 880px){

    .img-pokedex-logo {
        margin-bottom: 40px;
    }
     
    

    

}